<div class="mt-4">
    <div>
        <a href="/me/courses">My courses</a>
        <h3>Deleted courses</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">VideoID</th>
                <th scope="col">Time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoID}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                   <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Restore</a>
                   <a href="" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" data-id="{{this._id}}">Remove</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">Empty</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" id="btn-delete-course" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Restore course form --}}
<form name="restore-course-form" method="POST"></form>
{{!-- Delete course form  --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var courseID;    
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var btnRestore = $('.btn-restore');

        $('#confirm-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        })

    var btnDeleteCourse = document.getElementById('btn-delete-course');
    btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' + courseID + '/force?_method=DELETE';
        deleteForm.submit(); 
    }

    btnRestore.click(function(e) {
        e.preventDefault();
        var courseID = $(this).data('id');
        restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH';
        restoreForm.submit();
    });
    })
</script>