<div class="mt-4">
    <h3>My courses</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">VideoID</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoID}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                   <a href="/courses/{{this._id}}/edit" class="btn btn-success">Edit</a>
                   <a href="/courses" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" data-id="{{this._id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" id="btn-delete-course" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form delete course --}}
<form name="delete-course-form" method="POST"></form>

<script>
    var courseID;    
    var deleteForm = document.forms['delete-course-form'];

    document.addEventListener('DOMContentLoaded', function() {
        $('#confirm-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        })
    })

    var btnDeleteCourse = document.getElementById('btn-delete-course');
    btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
        deleteForm.submit(); 
    }

</script>